@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #004697;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.img-responsive {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.text-center {
    text-align: center;
}

.modal-hider {
    display: none;
}

.pagination {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.pagination a {
    border: 1px solid #CCC;
    border-left: none;
    display: block;
    padding: 5px 10px;
    margin: 0;
    text-decoration: none;
}

.pagination a.prev {
    border-left: 1px solid #CCC;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 15px;
}

.pagination a.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
}

.pagination a:hover,
.pagination a.active {
    background: #EFEFEF;
    color: #333;
}

.pagination a.active {
    cursor: default;
    font-weight: bold;
}

@media(max-width: 1160px) {
    .container {
        width: 100%;
    }
}

#main-header {
    background: #FFF;
    padding: 20px 0;
}

#main-header .container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

#main-header .logotype {
    width: 100px;
}

#main-header .info {
    margin-left: 20px;
}

#main-header h1.name {
    margin: 0;
    padding: 0;
}

#main-navigation {
    background: #FFF;
    border-bottom: 2px solid #004697;
}

#main-navigation #nav {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav>li {
    width: 25%;
}

#nav>li>a {
    color: #333;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#nav>li:hover>a {
    background: #004697;
    color: #FFF;
}

#nav>li .submenu {
    background: #FFF;
    /* border: 1px solid #004697; */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
}

#nav>li:hover .submenu {
    display: block;
}

#main-footer {
    background: #333;
    color: #EFEFEF;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
}

main section {
    background: #FFF;
    overflow: hidden;
}

.block-items,
.block-videos {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}

.block-item,
.block-video {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: calc(25% - 20px);
}

.block-video {
    border: 1px solid #CCC;
    padding: 2px;
    position: relative;
}


/*
.block-video:before {
    background: #000;
    bottom: 2px;
    content: "";
    display: block;
    left: 2px;
    opacity: .7;
    position: absolute;
    right: 2px;
    top: 2px;
    transition: opacity .15s ease-in;
    z-index: 1;
}

.block-video:hover:before {
    opacity: 0;
}
*/

.block-video iframe {
    height: 150px;
    width: 100%;
    z-index: 0;
}

@media(max-width: 960px) {
    .block-item,
    .block-video {
        width: calc(33.33% - 20px);
    }
}

@media(max-width: 768px) {
    .block-item,
    .block-video {
        width: calc(50% - 20px);
    }
}

@media(max-width: 478px) {
    .block-item,
    .block-video {
        width: calc(100% - 20px);
    }
}

.block-item a {
    border: 1px solid #EFEFEF;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all .15s ease-in;
}

.block-item a .title {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
}

.block-item a:hover {
    border-color: #CCC;
    color: #004697;
}

main .block-comment {
    display: flex;
    margin-top: 30px;
}

main .block-comments>.block-comment:first-child {
    margin-top: 0;
}

main .block-comment .avatar {
    width: 150px;
}

main .block-comment .avatar img {
    border-radius: 50%;
}

main .block-comment .content {
    margin-left: 20px;
}

main .block-comment .content .header .info .name {
    font-size: 16px;
    font-weight: bold;
}

main .block-comment .content .header .info .time {
    color: #333;
    font-size: 12px;
}

main .block-comment .content .body {
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 20px 0;
}

main .block-comment .content .footer {
    padding-bottom: 20px;
}

main .block-comment .content .footer a {
    border-bottom: 1px solid #004697;
    display: inline-block;
    font-size: 12px;
    padding: 1px;
    text-decoration: none;
}


/* modal window style */

.modal {
    display: none;
}

.vanilla-modal .modal {
    display: block;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s, z-index 0s 0.2s;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal>* {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.vanilla-modal .modal:before {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.vanilla-modal.modal-visible .modal {
    z-index: 99;
    opacity: 1;
    transition: opacity 0.2s;
}

.modal-inner {
    position: relative;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.modal-visible .modal-inner {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    background: #fff;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}

.modal .modal-content {
    padding: 40px;
}


/* modal window style */

.shop-item-info {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.shop-item-info .image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;
}

.shop-item-info .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


/*

*/

.shop-item-info .params {
    border-bottom: 1px dashed #CCC;
    border-top: 1px dashed #CCC;
    color: #333;
    font-size: 12px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.shop-item-info .description {
    font-size: 12px;
}